absl-py
aiohttp
aiosignal
altair==5.3.0
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
async-lru
async-timeout
attrs
Babel
beautifulsoup4
bleach
blinker
Bottleneck
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
flatbuffers
fonttools
frozenlist
future==0.18.3
gast
gitdb==4.0.11
GitPython==3.1.43
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
innvestigate==2.1.2
ipykernel
ipython
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
keras==2.11.0
Keras-Preprocessing
kiwisolver
libclang==18.1.1
Markdown
markdown-it-py==3.0.0
MarkupSafe
matplotlib
matplotlib-inline
mdurl==0.1.2
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
oauthlib
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf==3.20.3
psutil
pure-eval
pyarrow==17.0.0
pyasn1
pyasn1-modules==0.2.8
pycparser
pydeck==0.9.1
Pygments
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
pywin32==305.1
pywinpty
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich==13.7.1
rpds-py
rsa
scikit-learn
scipy
seaborn
Send2Trash
six
